html, body {
	height:100%;
}

body,ul,li,h1,h2,p {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
/*	-webkit-user-select:none;*/
    -webkit-text-size-adjust:none;
	font-family:helvetica;
	background:#fff;
}


#wrapper {
	position:absolute;
	z-index:1;
	top:0; bottom:0;
	width:330px;
	background:#fff;
	overflow:hidden;
}

#slider {
	position:relative;
	z-index:1;
	float:left;
	width:9900px;
	height:100%;
	font-size:2em;
	-webkit-transform:translate3d(0,0,0);
}

.page {
	-webkit-box-sizing:border-box;
	position:relative;
	z-index:2;
	display:block;
	float:left;
	width:330px;
	background:#fff;
	padding:1em;
	-webkit-transform:translate3d(0,0,0);
}

.scroller {
/*	display:block; float:left;
	width:100%;*/
}

p { margin-bottom:1.2em; }


//@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
//  /* iPhone, Android rules here */
//}


@media only screen and (orientation: portrait)  {
  /* iPhone, Android rules here */
	#wrapper {
		width:280px !important;
	}  
	#slider {
//		width:4096px !important;
		width:8400px !important;
	}
	
	.scrollerwrapper {
		width:280px !important;
	}	
        .page {
        	width:280px !important;
        }	
}


@media only screen and (orientation: landscape) {
	#wrapper {
		width:1024px !important;
	}

	#slider {
//		width:4096px !important;
		width:27648px !important;
	}
	
	.scrollerwrapper {
		width:1024px !important;
	}
}
